@charset "UTF-8";
/*
    Folha de estilo do site
*/

/* CSS Reset  */

/* Importação Google Fontes */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');

/* Formatação de textos */

h1{
    font-family: "Orbitron", sans-serif;

}

p {
    font-family: "Nunito", sans-serif;
    margin: auto;
    
}

body{
    background-color: #ece8e6;
    color: #654d43;
    font-size: 1em;
    margin: 0;
}

/* Layout */
.Container {
    margin: auto;
}

/* Formatação do Menu */
.Flex {
    display: flex;
    justify-content: space-between;
    background-color: #cac1bd;

   
}

.Botao {
    text-decoration: none;
    color: #654d43;
    font-size: 1.2em;
    font-family: "Mozilla Headline", sans-serif;
    font-weight: 400;
    padding-left: 1%;
    padding-right: 10%;
    position: fixed;
}

figure.boneco1 img {
    width: 40%;
    height: 40%;
    padding-left: 5%;
    padding-right: 10%;
    position: relative;
    top: -15px;
}

/* Logo do site */



/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>> */
header {
    height: 150px;
}

#logo img {
    width: 80px;
    height: 80px;
}

#check {
    display: none;
}

label {
    font-size: 3em;
    padding-right: 15px;
}

nav ul {
    list-style: none;
    background-color: #d2d0cf;
    height: 100vh;
    position: fixed;
    top: 97px;
    right: -1000%;
    width: 100%;
    transition: all 0.5s;

}

#check:checked ~ ul {
    right: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid #ece8e6;
}
nav ul li a {
    text-decoration: none;
    color: #654d43;
    font-family: "Nunito", sans-serif;
}

/* Destaque */


/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 756px) {
    .Container {
        max-width: 540px;
    }
}
/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {
    .Container {
        max-width: 720px;
    }
}
/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {
    .Container {
        max-width: 960px;
    }
}

/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {
    .Container {
        max-width: 540px;
    }


/* Cabeçalho */
header {
    height: 150px;
}

#logo img {
    width: 52px;
    height: 50px;
    margin-top: 13px;
    margin-bottom: 7px;
    margin-left: 10px;

}

label {
    display: none;
}

nav ul {
    position: static;
    height: auto;
    background-color: transparent;
    
}

nav ul li {
    float: left;
    border: 0;
}

nav ul li a:hover {
    color: #ece8e6;
}

}

/* Formatação de imagens */

figure.boneco1 img {
    width: 40%;
    height: 40%;
}
